

.flex-container {
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0rem 5rem;
    justify-items: center;
    align-items: center;

}

.flex-item {
    width: 100%;
    /* border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.event-container {
    padding: 1.5rem;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.event-container img {
    height: 500px;
    width: auto;
}
